*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: rgb(117, 117, 205);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

canvas {
    background-color: white;
}

.symbols{
    height: 600px;
    width: 400px;
    background-color:bisque;
    margin-left: 20px;
}
.marker-selection{
    display:flex;
}

fieldset{
    width: 100%;
    margin: 4px;
    text-align: center;
}

header{
    display:flex;
    width: 100%;
    justify-content:space-around;
}
