*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: rgb(117, 117, 205);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;

}

canvas {
    background-color: white;
}
