*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: rgb(117, 117, 205);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

canvas {
    background-color: white;
}

.symbols{
    height: 200px;
    width: 800px;
    background-color:bisque;
    margin-top: 20px;
}
